.card-container {
    height: 300px;
    border: 1px solid #198754;
    padding: 18px 22px;
    background-color: #EFEFEF;
}

.card-container-template-cadastrado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cor-fundo-verde-claro {
    background-color: #DFEBE5;
}

.card-container, .card-link-novo-card  {
    width: 250px;
}

.card-iconePlus {
    margin-top: 15px;
    color: #198754;
}

.card-titulo {
    font-size: 25px;
    font-weight: regular;
    color: #198754;
}

.card-link-novo-card {
    text-decoration: none;
}

.card-subtitulo {
    color: gray;
    margin-bottom: 0px;
    font-size: 12px;
}

.card-ultimo-subtitulo {
    margin-bottom: 20px;
}